page {
    height: 100%;
}

.home-container {
    height: 100%;
    padding: 0 24rpx 100rpx;
    background: #1A1A1A;
    box-sizing: border-box;

    .tab-list {
        width: 100%;
        padding: 110rpx 210rpx 20rpx 24rpx;
        box-sizing: border-box;
        position: fixed;
        top: 0;
        left: 0;
        background: #1A1A1A;

        .scroll-view_W {
            white-space: nowrap;
        }

        .scroll-view-item_w {
            display: inline-block;
            height: 60rpx;
            font-size: 28rpx;
            line-height: 60rpx;
            color: #999;
            margin-right: 32rpx;

            &.activity {
                color: #fff;
                font-size: 34rpx;
                position: relative;

                &:after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 48rpx;
                    height: 4rpx;
                    border-radius: 4rpx;
                    background: linear-gradient(90deg, #1A1A1A 0%, #87F1BC 100%);
                    ;
                }
            }
        }
    }

    .list-wrap {
        // display: flex;
        // justify-content: space-between;
        // align-content: flex-start;
        // flex-wrap: wrap;
        // align-items:self-start;
        // padding: 190rpx 0 24rpx;
        // display: grid;
        // grid-template-columns: repeat(2, 1fr);
        // // grid-gap: ;
        // grid-auto-flow: row dense;
        // grid-auto-rows: 60rpx;
        // grid-gap: 20rpx;

        .item-wrap {
            width: 100%;
            background: #333;
            // margin-bottom: 16rpx;
            border-radius: 8rpx;
            overflow: hidden;
            font-size: 0;

            // align-self: flex-start;
            &:nth-child(even) {
                // .bg-img {
                //     height: 462rpx;
                // }
            }

            .bg-img {
                width: 100%;
                height: 320rpx;
                border-radius: 8rpx;
                overflow: hidden;
            }

            &:nth-of-type(3n+1) {
                grid-row: auto / span 5;
            }

            &:nth-of-type(3n+2) {
                grid-row: auto / span 6;

                .bg-img {
                    height: 392rpx;
                }
            }

            &:nth-of-type(3n+3) {
                grid-row: auto / span 5;

                .bg-img {
                    height: 320rpx;
                }
            }
        }

        .info-bottom {
            display: flex;
            align-content: center;
            justify-content: space-between;
            font-size: 20rpx;
            color: #999;
            padding: 16rpx 8rpx;

            .ib-item {
                line-height: 28rpx;
                display: flex;
                align-content: center;
                color: #999;
            }

            .icon-img {
                width: 30rpx;
                height: 30rpx;
                border-radius: 50%;
                overflow: hidden;
                vertical-align: middle;
                margin: 0 8rpx 0 0;
                color: #999;
            }

        }

        /* 瀑布流布局 */
        .picture {
            column-gap: 5rpx;
            column-count: 2;
            // margin: 20rpx 0;
        }

        .item {
            background: #333;
            width: calc(100% - 10rpx);
            break-inside: avoid;
            box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
            border-radius: 8rpx;
            margin: 0 10rpx 35rpx;
            overflow: hidden;
        }

        .item image {
            width: 100%;
        }
    }

    .noData-wrap {
        // background: #444;
        color: #fff;
        text-align: center;
        font-size: 24rpx;
        padding: 360rpx 0 60rpx;

        .nodata-img {
            width: 200rpx;
            height: 200rpx;
            margin-bottom: 40rpx;
        }
    }

}