page {
    text-align: center;
    padding: 80rpx 0 0;
  }
  .userInfo {
    width: 50%;
    height: 80rpx;
    line-height: 80rpx;
    margin-top: 160rpx;
    background-color:#EB5412 ;
    color: #fff;
    border-radius: 40rpx;
    font-size: 30rpx;
  }
  .pic {
    width: 200rpx;
    height: 200rpx;
  }
  .avatar-wrapper {
    width: 160rpx;
    height: 160rpx;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 40rpx;
    padding: 0;
    border: 2rpx solid #eee;
    position: relative;
  }
  .avatar-wrapper .plus-icon {
    color: #ddd;
    line-height: 70rpx;
    font-size: 70rpx;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
  .avatar-wrapper::after {
    border: none;
  }
  .avatar-wrapper .avatar {
    width: 100%;
    height: 100%;
  }
  .input-wrap {
    width: 80%;
    margin: 20rpx auto;
    display: flex;
    align-items: center;
  }
  .input-wrap  input {
    height: 64rpx;
    line-height: 64rpx;
    font-size: 24rpx;
    border: 2rpx solid #eaeaea;
    border-radius: 12rpx;
    width: 80%;
    text-align: left;
    padding-left: 24rpx;
    box-sizing: border-box;
  }
  .btn-ok {
    width: 60%;
    height: 80rpx;
    line-height: 80rpx;
    background-color: #EB5412;
    color: #fff;
    border-radius: 40rpx;
    font-size: 28rpx;
    margin-top: 80rpx;
  }