page {
    height: 100%;
}
.picture-page-wrap {
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    .listbox {
        height: 100%;
        .swiper-item {
            padding: 32rpx 24rpx;
        }
    }
    .main-picture {
        width: 100%;
        height: 876rpx;
        border-radius: 16rpx;
    }
    .fixed-action {
        width: 100%;
        padding: 0 32rpx 124rpx;
        box-sizing: border-box;
        position: fixed;
        bottom: 0;
        left: 0;
    }
    .user-wrap {
        display: flex;
        justify-content: center;
        align-content: center;
        text-align: center;
        font-size: 28rpx;
        color: #fff;
        line-height: 40rpx;
        margin-bottom: 32rpx;
        .user-avatar {
            width: 40rpx;
            height: 40rpx;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 10rpx;
        }
    }
    .footer-action {
        display: flex;
        justify-content: space-between;
        align-content: center;
        color: #fff;
        text-align: center;
        .fa-item {
            font-size: 0;
            view {
                font-size: 36rpx;
                line-height: 50rpx;
            }
        }
        .like-wrap {
            width: 48rpx;
            height: 48rpx;
            // position: relative;
            // .animation-high {
            //     position: absolute;
            //     top: 0;
            //     left: 0;
            // }
        }
        .icon-action {
            width: 48rpx;
            height: 48rpx;
        }
        .btn-wrap {
            width: 412rpx;
            height: 96rpx;
            background: linear-gradient(135deg, #6EFFF7 0%, #87F1BC 100%);
            border-radius: 16rpx;
            color: #333;
            display: flex;
            align-content: center;
            justify-content: center;
            align-items: center;
            image {
                width: 48rpx;
                height: 48rpx;
                margin-right: 10rpx;
            }
        }
    }
    .info-dialog-wrap {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        transform: translateY(100%);
        border-radius: 10rpx;
        background-color: rgba(255,255,255,1);
        box-sizing: border-box;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        transition: all 1s;
        padding-bottom: 60rpx;
        .pic-title {
            padding: 24rpx;
            font-size: 36rpx;
            text-align: center;
            border-bottom: 2rpx solid #ccc;
        }
        .main-content {
            padding: 24rpx;
            overflow-y: auto;
            flex: 1;
            height: 0;
            .key-item {
                display: flex;
                color: #666;
                padding: 10rpx 0;
                .label {
                    font-size: 32rpx;
                    color: #333;
                }
            }
        }
        &.show {
            transform:translateY(0)
        }
        &.hide {
            transform:translateY(100%)
        }
    }
}