.history-draw-pages-wrap {
    padding: 0 24rpx 0;
    .tab-list {
        width: 100%;
        padding: 0 24rpx 0;
        display: flex;
        justify-content: center;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 999;
        box-sizing: border-box;
        font-size: 0;
        background:#1A1A1A;
        .scroll-view_W{
            white-space: nowrap;
        }
        .scroll-view-item_w {
            display: inline-block;
            font-size: 32rpx;
            line-height: 66rpx;
            height: 66rpx;
            color: #999;
            padding: 0 24rpx;
            &.activity {
                color: #87F1BC;
                position: relative;
                font-size: 36rpx;
                &:after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 48rpx;
                    height: 4rpx;
                    border-radius: 4rpx;
                    background: linear-gradient(90deg, #1A1A1A 0%, #87F1BC 100%);;
                }
            }
        }
    }
    .content-wrap {
        padding-top: 70rpx;
    }
    .list-wrap {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .item-wrap {
            width: 49%;
            height: 336rpx;
            border-radius: 8rpx;
            overflow: hidden;
            position: relative;
            margin-bottom: 16rpx;
            .icon-place {
                width: 100%;
                height: 100%;
            }
            .animation-wrap {
                width: 100%;
                position: absolute;
                bottom: 64rpx;
                left: 50%;
                transform: translateX(-50%);
                text-align: center;
                .icon {
                    width: 120rpx;
                    height: 120rpx;
                }
            }
            .load-text {
                color: #87F1BC;
                font-size: 28rpx;
            }
        }
    }
    .list2-wrap {
        column-gap: 10rpx;
        column-count: 2;
        // display: grid;
        // grid-template-columns: repeat(2, 1fr);
        // grid-auto-flow: row dense;
        // grid-auto-rows: 60rpx;
        // grid-row-gap: 10rpx;
        // grid-column-gap: 16rpx;
        // .item-wrap {
        //     width: 100%;
        //     height: 336rpx;
        //     background: #333;
        //     border-radius: 8rpx;
        //     overflow: hidden;
        //     font-size: 0;
        //     &:nth-of-type(3n+1) {
        //         grid-row: auto / span 5;
        //     }
        //     &:nth-of-type(3n+2) {
        //         grid-row: auto / span 6;
        //         height: 402rpx;
        //     }
        //     &:nth-of-type(3n+3) {
        //         grid-row: auto / span 5;
        //         height: 336rpx;
        //     }
            .icon-place {
                width: 100%;
            }
        // }
    }
    .nodata-wrap {
        text-align: center;
        font-size: 28rpx;
        color: #fff;
        padding-top: 160rpx;
        image {
            width: 320rpx;
            height: 320rpx;
        }
    }
}
.big-pic-modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left: 0;
    background: rgba(0,0,0,.6);
    display: none;
    z-index: 9999;
    .pic {
        width: 100%;
        height: 876rpx;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    &.visible {
        display: block;
    }
}